@model GyIMS.Models.Menu


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>系统菜单新增</title>
</head>

<body>
    <div style="margin:20px 0;"></div>

    <div class="easyui-panel" title="系统菜单新增" style="width:100%;height:100%">
        <div>
            <form id="menuCreate" method="post" style="width:100%;height:100%">
                <table style="width:100%;height:100%" cellpadding="10" cellspacing="50">
                    <tr>
                        <th width="20%"></th>
                        <th width="30%"></th>
                        <th width="20%"></th>
                        <th width="30%"></th>
                    </tr>
                    <tr>
                        <td align="center">菜单编号:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="ID"
                                   data-options="required:true" readonly="readonly" style="width:300px" />
                        </td>
                        <td align="center">菜单名称:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="Name"
                                   data-options="required:true" style="width:300px" />
                        </td>

                    </tr>
                    <tr>
                        <td align="center">父级菜单编号:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="ParentID" style="width:300px" />
                        </td>
                        <td align="center">菜单层级:</td>
                        <td>
                            <select class="easyui-combobox" name="Rank" id="Rank" data-options="required:true" style="width:300px" />

                        </td>
                    </tr>
                    <tr>
                        <td align="center">中文名称:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="ChineseName" style="width:300px" />
                        </td>
                        <td align="center">英文名称:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="EnglishName" style="width:300px" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center">状态:</td>
                        <td>
                            <select class="easyui-combobox" name="Status" id="Status" data-options="required:true,valueField:'id',
                                    textField:'text',url: '/Menus/GetMenuStatus',method:'get'"
                                    style="width:300px" />
                        </td>
                        <td align="center">菜单URL:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="Url" style="width:300px" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center">控制器名称:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="ControllerName" data-options="required:true" style="width:300px" />
                        </td>
                        <td align="center">方法名称:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="ActionName" data-options="required:true" style="width:300px" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center">创建时间:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="CreateDate" data-options="required:true" readonly="readonly" style="width:300px" />
                        </td>
                        <td align="center">创建人:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="CreatePerson" data-options="required:true" style="width:300px" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center">修改时间:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="UpdateDate" data-options="required:true" readonly="readonly" style="width:300px" />
                        </td>
                        <td align="center">修改人:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="UpdatePerson" data-options="required:true" style="width:300px" />
                        </td>
                    </tr>
                    <tr style="margin-top:100px">
                        <td align="center">备注:</td>
                        <td colspan="3">
                            <input class="easyui-textbox" name="Summary" data-options="multiline:true"
                                   style="height:60px;width:875px" />
                        </td>
                    </tr>
                </table>
            </form>
            <div style="text-align:center;padding:5px;margin-top:50px">
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">提交</a>
                <a href="/Menus/Index" class="easyui-linkbutton">返回</a>
            </div>
        </div>
    </div>


    @*Js脚本*@
    <script type="text/javascript">
        $(function () {
        //新增初始化数据
        $('#menuCreate').form('load', {
            ID: '@Model.ID',
            CreateDate: '@Model.CreateDate',
            CreatePerson: '@HttpContext.Current.Session["UserID"]',
            UpdateDate: '@Model.CreateDate',
            UpdatePerson: '@HttpContext.Current.Session["UserID"]'
        });

        });

        //新增提交
        function submitForm() {
            $('#menuCreate').form('submit', {
                url: '/Menus/CreateByForm/',
                dataType:'json',
                onSubmit: function (param) {
                    param.ID = $('#ID').val();
                    param.ParentID = $('#ParentID').val();
                    param.Rank = $('#Rank').val();
                    param.Name = $('#Name').val();
                    param.ChineseName = $('#ChineseName').val();
                    param.EnglishName = $('#EnglishName').val();
                    param.Url = $('#Url').val();
                    param.ControllerName = $('#ControllerName').val();
                    param.ActionName = $('#ActionName').val();
                    param.Status = $('#Status').val();
                    param.CreateDate = $('#CreateDate').val();
                    param.CreatePerson = $('#CreatePerson').val();
                    param.UpdateDate = $('#UpdateDate').val();
                    param.UpdatePerson = $('#UpdatePerson').val();
                    param.Summary = $('#Summary').val();

                },
                success: function (data) {
                    data = JSON.parse(data);
                    alert(data.Message);
                    if (data.Code == 1) {
                        window.location.href = "@Url.Action("Index", "Menus")";
                    }
                }
            });
        }

        //菜单层级
    StatusJson.ID = "#Rank";
    StatusJson.TableName = "Menus";
    StatusJson.StatusDesc = "MenuRank";
    GetStatusType(StatusJson);



    </script>
</body>
</html>
