@model GyIMS.Models.ItRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ItRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HourCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinuteCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinuteCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
