@model GyIMS.Models.Maintenance



@*<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>运维申请单-编辑</title>
</head>

<body>*@
    <div style="margin:20px 0;"></div>

    <div class="easyui-panel" title="运维申请单-编辑" style="width:100%;height:100%">
        <div>
            <form id="Edit" method="post" style="width:100%;height:100%">
                <table style="width:100%;height:100%" cellpadding="10" cellspacing="50">
                    <tr>
                        <th width="20%"></th>
                        <th width="30%"></th>
                        <th width="20%"></th>
                        <th width="30%"></th>
                    </tr>
                    <tr>
                        <td align="center">运维单号:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="ID"
                                   data-options="required:true" readonly="readonly" style="width:300px" />
                        </td>
                        <td align="center">单号:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="Code"
                                   data-options="required:true" style="width: 300px" />
                        </td>

                    </tr>
                    <tr>
                        <td align="center">申请人:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="Applier"
                                   data-options="required:true" style="width: 300px" />
                        </td>
                        <td align="center">区域（申请人所在）:</td>
                        <td>
                            <select class="easyui-combobox" name="Region" id="Region" data-options="required:true" style="width:300px" />

                        </td>
                    </tr>
                    <tr>
                        <td align="center">问题类型:</td>
                        <td>
                            <select class="easyui-combobox" name="Type" id="Type" data-options="required:true" style="width:300px" />
                        </td>
                        <td align="center">软件系统类型:</td>
                        <td>
                            <select class="easyui-combobox" name="SysType" id="SysType" style="width:300px" />
                        </td>

                    </tr>
                    <tr>
                        <td align="center">硬件系统类型:</td>
                        <td>
                            <select class="easyui-combobox" name="HSysType" id="HSysType" style="width:300px" />
                        </td>
                        <td align="center">状态:</td>
                        <td>
                            <select class="easyui-combobox" name="Status" id="Status" data-options="required:true" style="width:300px" />
                        </td>

                    </tr>
                    <tr>
                        <td align="center">运维状态:</td>
                        <td>
                            <select class="easyui-combobox" name="MaintenanceStatus" id="MaintenanceStatus" data-options="required:true" style="width:300px" />
                        </td>
                        <td align="center">上传文件名称:</td>
                        <td>
                            <input class="easyui-textbox" type="text" id="FileName" name="FileName"
                                   style="width:300px" />
                        </td>
                    </tr>
                    <tr>

                        <td align="center">问题名称:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="Name"
                                   style="width:300px" />
                        </td>

                    </tr>
                    <tr>
                        <td align="center">创建时间:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="CreateDate" data-options="required:true" readonly="readonly" style="width:300px" />
                        </td>
                        <td align="center">创建人:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="CreatePerson" style="width:300px" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center">修改时间:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="UpdateDate" data-options="required:true" readonly="readonly" style="width:300px" />
                        </td>
                        <td align="center">修改人:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="UpdatePerson" style="width:300px" />
                        </td>
                    </tr>
                    <tr style="margin-top:100px">
                        <td align="center">问题描述:</td>
                        <td colspan="3">
                            <input class="easyui-textbox" name="Description" data-options="multiline:true"
                                   style="height:60px;width:875px" />
                        </td>
                    </tr>
                    <tr style="margin-top:100px">
                        <td align="center">备注:</td>
                        <td colspan="3">
                            <input class="easyui-textbox" name="Summary" data-options="multiline:true"
                                   style="height:60px;width:875px" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center">附件证明:</td>
                        <td colspan="3">
                            <input type="file" id="file1" name="file1" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center">附件证明:</td>
                        <td colspan="3">
                            <input type="file" id="file2" name="file2" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center">附件证明:</td>
                        <td colspan="3">
                            <input type="file" id="file3" name="file3" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="4">
                            <input type="button" value="上传文件" onclick="javascript:upload();" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center">相关附件:</td>
                        <td colspan="3">
                            <input type="hidden" id="hid_files" value="@Model.FileName"/>
                            <div id="files">
                                @{
                                    if (!string.IsNullOrEmpty(Model.FileName))
                                    {
                                        string[] files = Model.FileName.Split(',');
                                        foreach (string file in files)
                                        {
                                            <a target="_blank" title='点击下载该文件' href='@Url.Action("FileDownload", "Maintenances", new { area = "" })?filename=@file'>@file</a><br />
                                        }
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
            <div style="text-align:center;padding:5px;margin-top:50px">
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="UpdateForm()">保存</a>
                <a href="/Maintenances/Index" class="easyui-linkbutton">返回</a>
            </div>
        </div>
    </div>

    @*Js脚本*@
    @section scripts{
        <script src="~/Scripts/fileUpload.js"></script>
        <script type="text/javascript">

            //编辑初始化数据
            $('#Edit').form('load', {
                ID: '@Model.ID',
                Code: '@Model.Code',
                Applier: '@Model.Applier',
                Region: '@Model.Region',
                Type: '@Model.Type',
                SysType: '@Model.SysType',
                HSysType: '@Model.HSysType',
                Name: '@Model.Name',
                FileName: '@Model.FileName',
                Description: '@Model.Description',
                Summary: '@Model.Summary',
                CreateDate: '@Model.CreateDate',
                CreatePerson: '@Model.CreatePerson',
                UpdateDate: '@Model.CreateDate',
                UpdatePerson: '@Model.UpdatePerson'
            });


            //状态
            $('#Status').combobox({
                url: '/Maintenances/GetCommonStatuses',
                textField: 'text',
                valueField: 'id',
                panelHeight: 'auto',
                data: {},
                method: 'get',
                onLoadSuccess: function () {
                    $('#Status').combobox('setValue', '@Model.StatusName');
                }
            });

            //问题状态
           StatusJson.ID = "#MaintenanceStatus";
           StatusJson.TableName = "Maintenances";
           StatusJson.StatusDesc = "MTStatus";
           GetStatusType(StatusJson);

           //问题类型
           StatusJson.ID = "#Type";
           StatusJson.TableName = "Maintenances";
           StatusJson.StatusDesc = "MTypes";
           GetStatusType(StatusJson);

           //软件问题类型
           StatusJson.ID = "#SysType";
           StatusJson.TableName = "Maintenances";
           StatusJson.StatusDesc = "MtSysType";
           GetStatusType(StatusJson);

           //硬件问题类型
           StatusJson.ID = "#HSysType";
           StatusJson.TableName = "Maintenances";
           StatusJson.StatusDesc = "MTHSysType";
           GetStatusType(StatusJson);

          //区域
           StatusJson.ID = "#Region";
           StatusJson.TableName = "Maintenances";
           StatusJson.StatusDesc = "Region";
           GetStatusType(StatusJson);







        //修改提交
        function UpdateForm() {
            $('#Edit').form('submit', {
                url: '/Maintenances/EditByForm/',
                dataType: "json",
                onSubmit: function (param) {
                    param.ID = $('#ID').val();
                    param.Code = $('#Code').val();
                    param.Applier = $('#Applier').val();
                    param.Region = $('#Region').val();
                    param.Type = $('#Type').val();
                    param.SysType = $('#SysType').val();
                    param.HSysType = $('#HSysType').val();
                    param.Name = $('#Name').val();
                    param.FileName = $("#hid_files").val();//$('#FileName').val();
                    param.Description = $('#Description').val();
                    param.Status = $('#Status').val();
                    param.CreateDate = $('#CreateDate').val();
                    param.CreatePerson = $('#CreatePerson').val();
                    param.UpdateDate = $('#UpdateDate').val();
                    param.UpdatePerson = $('#UpdatePerson').val();
                    param.Summary = $('#Summary').val();

                },
                success: function (data) {
                    data = JSON.parse(data);
                    alert(data.Message);
                    if (data.Code == 1) {
                        window.location.href = "@Url.Action("Index", "Maintenances")";
                    }
                }
            }
            );
        }

        function upload() {
            fileUpload($("input[type='file']"), {}, "@Url.Action("FileUpload")",
                function (result) {
                    if (result) {
                        var files = [];
                        $.each(result.FileNames, function (index, value) {
                            $("#files").html(null).append("<a target='_blank' title='点击下载该文件' href='@Url.Action("FileDownload", "Maintenances", new { area = "" })?filename=" + value + "'>" + value + "</a><br/>");
                            files.push(value);
                        });
                        $('#FileName').textbox('setValue',files.join(","))
                        $("#hid_files").val(files.join(","));
                    }
                },
                function (err) {
                });
        }
        </script>
}
    @*</body>
</html>*@


