@model GyIMS.Models.RequestForm

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>需求申请信息-创建</title>
</head>

<body>
    <div style="margin:20px 0;"></div>

    <div class="easyui-panel" title="需求申请信息-创建" style="width:100%;height:100%">
        <div>
            <form id="Create" method="post" style="width:100%;height:100%">
                <table style="width:100%;height:100%" cellpadding="10" cellspacing="50">
                    <tr>
                        <th width="20%"></th>
                        <th width="30%"></th>
                        <th width="20%"></th>
                        <th width="30%"></th>
                    </tr>
                    <tr>
                        <td align="center">需求申请单号:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="ID"
                                   data-options="required:true" readonly="readonly" style="width:300px" />
                        </td>
                        <td align="center">单号:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="Code"
                                   style="width:300px" />
                        </td>

                    </tr>
                    <tr>
                        <td align="center">需求名称:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="Name"
                                   data-options="required:true" style="width:300px" />
                        </td>
                        <td align="center">系统类型:</td>
                        <td>
                            <select class="easyui-combobox" name="SysType" id="SysType" data-options="required:true" style="width:300px" />
                        </td>
                    </tr>
                    <tr>

                        <td align="center">需求申请人:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="Applier"
                                   data-options="required:true" style="width:300px" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center">需求状态:</td>
                        <td>
                            <select class="easyui-combobox" name="RequestStatus" id="RequestStatus" data-options="required:true" style="width:300px" />
                        </td>
                        <td align="center">状态:</td>
                        <td>
                            <select class="easyui-combobox" name="Status" id="Status" data-options="required:true" style="width:300px" />
                        </td>

                    </tr>
                    <tr>
                        <td align="center">创建时间:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="CreateDate" data-options="required:true" readonly="readonly" style="width:300px" />
                        </td>
                        <td align="center">创建人:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="CreatePerson" style="width:300px" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center">修改时间:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="UpdateDate" data-options="required:true" readonly="readonly" style="width:300px" />
                        </td>
                        <td align="center">修改人:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="UpdatePerson" style="width:300px" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center">上传文件名称:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="FileName" style="width:300px" />
                        </td>
                    </tr>
                    <tr style="margin-top:100px">
                        <td align="center">需求描述:</td>
                        <td colspan="3">
                            <input class="easyui-textbox" name="Description" data-options="multiline:true"
                                   style="height:60px;width:875px" />
                        </td>
                    </tr>
                    <tr style="margin-top:100px">
                        <td align="center">备注:</td>
                        <td colspan="3">
                            <input class="easyui-textbox" name="Summary" data-options="multiline:true"
                                   style="height:60px;width:875px" />
                        </td>
                    </tr>
                </table>
            </form>
            <form action="/RequestForms/File" method="post" enctype="multipart/form-data">
                <table style="width:100%;height:100%" cellpadding="10" cellspacing="50">
                    <tr>
                        <th width="20%"></th>
                        <th width="30%"></th>
                        <th width="20%"></th>
                        <th width="30%"></th>
                    </tr>
                    <tr>
                        <td align="center">上传文件:</td>
                        <td>
                            <input class="easyui-filebox" name="file" />
                            <input type="submit" id="btnUpload" value="上传" />
                        </td>

                    </tr>
                    @*<input class="easyui-filebox" name="file" />
                        <input type="submit" id="btnUpload" value="上传" />*@
                </table>
            </form>
            <div style="text-align:center;padding:5px;margin-top:50px">
                @*<a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">创建</a>*@
                <a href="/RequestForms/Index" class="easyui-linkbutton">返回</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="Apply()">保存</a>

            </div>
        </div>
    </div>

    @*Js脚本*@
    <script type="text/javascript">
        $(function () {

            //新增初始化数据
            $('#Create').form('load', {
                ID: '@Model.ID',
                CreateDate: '@Model.CreateDate',
                CreatePerson: '@HttpContext.Current.Session["UserID"]',
                UpdateDate: '@Model.CreateDate',
                UpdatePerson: '@HttpContext.Current.Session["UserID"]'
            });

            //状态
            $('#Status').combobox({
                url: '/RequestForms/GetStatus',
                textField: 'text',
                valueField: 'id',
                panelHeight: 'auto',
                data: {},
                method: 'get',
                onLoadSuccess: function () {
                    var id;
                    if ('@Model.Status' == 'Disabled') {
                        id = 0;
                    }
                    else if ('@Model.Status' == 'Able') {
                        id = 1;
                    }
                    else {
                        id = 1;
                    }
                    $('#Status').combobox('setValue', id);
                }
            });

            //系统类型
            StatusJson.ID = "#SysType";
            StatusJson.TableName = "RequestForms";
            StatusJson.StatusDesc = "RequestSys";
            GetStatusType(StatusJson);

            //需求状态
            StatusJson.ID = "#RequestStatus";
            StatusJson.TableName = "RequestForms";
            StatusJson.StatusDesc = "RequestSts";
            GetStatusType(StatusJson);
        });

    //新增提交
     function Apply() {
           // $('#RequestStatus').combobox('setValue', 'SI20200041');
            $('#Create').form('submit', {
            url: '/RequestForms/CreateByForm/',
            dataType:"json",
            onSubmit: function (param) {
                param.ID = $('#ID').val();
                param.Code = $('#Code').val();
                param.Name = $('#Name').val();
                param.SysType = $('#SysType').val();
                param.Description = $('#Description').val();
                param.Applier = $('#Applier').val();
                param.RequestStatus = $('#RequestStatus').val();
                param.Status = $('#Status').val();
                param.FileName = $('#FileName').val();
                param.CreateDate = $('#CreateDate').val();
                param.CreatePerson = $('#CreatePerson').val();
                param.UpdateDate = $('#UpdateDate').val();
                param.UpdatePerson = $('#UpdatePerson').val();
                param.Summary = $('#Summary').val();

            },
            success: function (data) {
                    data = JSON.parse(data);
                    alert(data.Message);
                    if (data.Code == 1) {
                        window.location.href = "@Url.Action("Index", "RequestForms")";
                    }
                }
            });
        }



    </script>


</body>


</html>

