@model GyIMS.Models.MaintenanceFee



<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> 运维费用信息 - 编辑 </title>
    </head>

    <body>
    <div style= "margin:20px 0;"></div>

    <div class="easyui-panel" title="运维费用-编辑" style="width:100%;height:100%">
    <div>
        <form id="Edit" method="post" style="width:100%;height:100%">
            <table style="width:100%;height:100%" cellpadding="10" cellspacing="50">
                <tr>
                    <th width="20%">
                        </th>
                        <th width="30%">
                    </th>
                    <th width="20%">
                        </th>
                        <th width="30%">
                    </th>
                </tr>
                <tr>
                    <td align="center"> 运维费用编号:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="ID"
                               data-options="required:true" readonly="readonly" style="width:300px" />
                    </td>
                    <td align="center"> 运维单号:</td>
                    <td>
                        <select class="easyui-combobox" name="MaintenanceID" id="MaintenanceID" data-options="required:true" readonly="readonly" style="width:300px" />
                    </td>

                </tr>
                <tr>
                    <td align="center"> 处理人:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="Handler"
                               style="width:300px" />
                    </td>
                    <td align="center"> IT角色:</td>
                    <td>
                        <select class="easyui-combobox" name="ItRoleID" id="ItRoleID" data-options="required:true" readonly="readonly" style="width:300px" />
                    </td>
                </tr>
                <tr>
                    <td align="center"> 开始时间:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="BeginTime"
                               style="width:300px" />
                    </td>
                    <td align="center"> 结束时间:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="EndTime"
                               style="width:300px" />
                    </td>
                </tr>
                <tr>
                    <td align="center"> 花费时间（分）:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="SpendTime"
                               style="width:300px" />
                    </td>
                    <td align="center"> 状态:</td>
                    <td>
                        <select class="easyui-combobox" name="Status" id="Status" data-options="required:true" style="width:300px" />
                    </td>

                </tr>
                <tr>
                    <td align="center"> 创建时间:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="CreateDate" data-options="required:true" readonly="readonly" style="width:300px" />
                    </td>
                    <td align="center"> 创建人:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="CreatePerson" style="width:300px" />
                    </td>
                </tr>
                <tr>
                    <td align="center"> 修改时间:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="UpdateDate" data-options="required:true" readonly="readonly" style="width:300px" />
                    </td>
                    <td align="center"> 修改人:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="UpdatePerson" style="width:300px" />
                    </td>
                </tr>
                <tr style="margin-top:100px">
                    <td align="center">备注:</td>
                    <td colspan="3">
                        <input class="easyui-textbox" name="Summary" data-options="multiline:true"
                        style="height:60px;width:875px" />
                    </td>
                </tr>
            </table>
        </form>
        <div style="text-align:center;padding:5px;margin-top:50px">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="UpdateForm()">保存</a>
            <a href="/MaintenanceFees/Index" class="easyui-linkbutton">返回</a>
        </div>
    </div>
    </div>

    @* Js脚本*@
    <script>

        //编辑初始化数据
        $('#Edit').form('load', {
            ID: '@Model.ID',
            MaintenanceID: '@Model.MaintenanceID',
            Handler: '@Model.Handler',
            ItRoleID: '@Model.ItRoleID',
            BeginTime: '@Model.BeginTime',
            EndTime: '@Model.EndTime',
            SpendTime: '@Model.SpendTime',
            Status: '@Model.Status',
            Summary: '@Model.Summary',
            CreateDate: '@Model.CreateDate',
            CreatePerson: '@Model.CreatePerson',
            UpdateDate: '@Model.CreateDate',
            UpdatePerson: '@Model.UpdatePerson'
        });

        //状态
        $('#Status').combobox({
        url: '/MaintenanceFees/GetStatus',
            textField: 'text',
            valueField: 'id',
            panelHeight: 'auto',
            data: { },
            method: 'get',
            onLoadSuccess: function() {
        var id;
        if ('@Model.Status' == 'Disabled')
        {
            id = 0;
        }
        else if ('@Model.Status' == 'Able')
        {
            id = 1;
        }
                $('#Status').combobox('setValue', id);
         }
     });

       //运维申请单
    $('#MaintenanceID').combobox({
    url: '/MaintenanceFees/GetMaintenances',
        textField: 'text',
        valueField: 'id',
        panelHeight: 'auto',
        data: { },
        method: 'get',
        onLoadSuccess: function() {
            $('#MaintenanceID').combobox('setValue', '@Model.MaintenanceID');
    }
});

    //IT角色
    $('#ItRoleID').combobox({
url: '/MaintenanceFees/GetITRoles',
        textField: 'text',
        valueField: 'id',
        panelHeight: 'auto',
        data: { },
        method: 'get',
        onLoadSuccess: function() {
            $('#ItRoleID').combobox('setValue', '@Model.ItRoleID');
    }
});


     //格式化日期
         function ww4(date)
{
    var y = date.getFullYear();
    var m = date.getMonth() + 1;
    var d = date.getDate()
            return y + '-' + m + '-' + d;
}

        $('#BeginTime').datetimebox({  
   showSeconds:false,  
   required:true,  
   onSelect:function(date){  
        var y = date.getFullYear();  
        var m = date.getMonth() + 1;  
        var d = date.getDate();  
        var time=$('#BeginTime').datetimebox('spinner').spinner('getValue');  
        var dateTime = y + "-" + (m < 10 ? ("0" + m) : m) + "-" + (d < 10 ? ("0" + d) : d) +' '+time;  
        $('#BeginTime').datetimebox('setText', dateTime);  
        $('#BeginTime').datetimebox('hidePanel');  
        // $('#TextStartTime').val(dateTime);  
   }  
        });  

        $('#EndTime').datetimebox({  
   showSeconds:false,  
   required:true,  
   onSelect:function(date){  
        var y = date.getFullYear();  
        var m = date.getMonth() + 1;  
        var d = date.getDate();  
        var time=$('#EndTime').datetimebox('spinner').spinner('getValue');  
        var dateTime = y + "-" + (m < 10 ? ("0" + m) : m) + "-" + (d < 10 ? ("0" + d) : d) +' '+time;  
        $('#EndTime').datetimebox('setText', dateTime);  
        $('#EndTime').datetimebox('hidePanel');  
        // $('#TextStartTime').val(dateTime);  
   }  
});  



//修改提交
function UpdateForm()
{
            $('#Edit').form('submit', {
                url: '/MaintenanceFees/EditByForm/',
                dataType:"json",
                onSubmit: function(param) {
            param.ID = $('#ID').val();
            param.MaintenanceID = $('#MaintenanceID').val();
            param.Handler = $('#Handler').val();
            param.ItRoleID = $('#ItRoleID').val();
            param.BeginTime = $('#BeginTime').val();
            param.EndTime = $('#EndTime').val();
            param.SpendTime = $('#SpendTime').val();
            param.Status = $('#Status').val();
            param.CreateDate = $('#CreateDate').val();
            param.CreatePerson = $('#CreatePerson').val();
            param.UpdateDate = $('#UpdateDate').val();
            param.UpdatePerson = $('#UpdatePerson').val();
            param.Summary = $('#Summary').val();

        },
                success: function (data) {
                data = JSON.parse(data);
                alert(data.Message);
                if (data.Code == 1) {
                    window.location.href = "@Url.Action("Index", "MaintenanceFees")";
                }
            }
        }
        );
    }





    </script>

    </body>
</html>


