@model GyIMS.Models.MaintenanceFile

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title> 运维附件信息 - 新增 </title>
    </head>

    <body>
    <div style= "margin:20px 0;" ></div>

    <div class="easyui-panel" title="运维附件信息-新增" style="width:100%;height:100%">
    <div>
        <form id="Create" method="post" style="width:100%;height:100%">
            <table style="width:100%;height:100%" cellpadding="10" cellspacing="50">
                <tr>
                    <th width="20%">
                        </th >
                        <th width="30%">
                    </th>
                    <th width="20%">
                        </th >
                        <th width="30%">
                    </th>
                </tr>
                <tr>
                    <td align="center"> 运维文件编号:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="ID"
                               data-options="required:true" readonly="readonly" style="width:300px" />
                    </td>
                    <td align="center"> 运维单号:</td>
                    <td>
                        <select class="easyui-combobox" name="MaintenanceID" id="MaintenanceID" data-options="required:true" style="width:300px" />
                    </td>

                </tr>
                <tr>
                    <td align="center"> 类型:</td>
                    <td>
                        <select class="easyui-combobox" name="Type" id="Type" data-options="required:true" style="width:300px" />

                    </td>
                    <td align="center"> 附件名称:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="FileName"
                               style="width:300px" />
                    </td>
                </tr>
                <tr>
                    <td align="center"> 附件类型:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="FilePath"
                               style="width:300px" />
                    </td>
                    <td align="center"> 状态:</td>
                    <td>
                        <select class="easyui-combobox" name="Status" id="Status" data-options="required:true" style="width:300px" />
                    </td>

                </tr>
                <tr>
                    <td align="center"> 创建时间:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="CreateDate" data-options="required:true" readonly="readonly" style="width:300px" />
                    </td>
                    <td align="center"> 创建人:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="CreatePerson" style="width:300px" />
                    </td>
                </tr>
                <tr>
                    <td align="center"> 修改时间:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="UpdateDate" data-options="required:true" readonly="readonly" style="width:300px" />
                    </td>
                    <td align="center"> 修改人:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="UpdatePerson" style="width:300px" />
                    </td>
                </tr>
                <tr style="margin-top:100px">
                    <td align="center">备注:</td>
                    <td colspan="3">
                        <input class="easyui-textbox" name="Summary" data-options="multiline:true"
                        style="height:60px;width:875px" />
                    </td>
                </tr>
            </table>
        </form>
        <div style="text-align:center;padding:5px;margin-top:50px">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">提交</a>
            <a href="/MaintenanceFiles/Index" class="easyui-linkbutton">返回</a>
        </div>
    </div>
    </div>

    //脚本
    <script>

    //新增初始化数据
    $('#Create').form('load', {
        ID: '@Model.ID',
        CreateDate: '@Model.CreateDate',
        CreatePerson: '@HttpContext.Current.Session["UserID"]',
        UpdateDate: '@Model.CreateDate',
        UpdatePerson: '@HttpContext.Current.Session["UserID"]'
    });



    //新增提交
    function submitForm()
    {
        $('#Create').form('submit', {
            url: '/MaintenanceFiles/CreateByForm/',
            onSubmit: function(param) {
            param.ID = $('#ID').val();
            param.MaintenanceID = $('#MaintenanceID').val();
            param.Type = $('#Type').val();
            param.FileName = $('#FileName').val();
            param.FilePath = $('#FilePath').val();
            param.Status = $('#Status').val();
            param.CreateDate = $('#CreateDate').val();
            param.CreatePerson = $('#CreatePerson').val();
            param.UpdateDate = $('#UpdateDate').val();
            param.UpdatePerson = $('#UpdatePerson').val();
            param.Summary = $('#Summary').val();

        },
            success: function(data) {
            alert("运维附件创建成功！");
            window.location.href = "@Url.Action("Index", "MaintenanceFiles")";
        }
    }
            );
};
    //状态
    $('#Status').combobox({
url: '/MaintenanceFiles/GetStatus',
        textField: 'text',
        valueField: 'id',
        panelHeight: 'auto',
        data: { },
        method: 'get',
        onLoadSuccess: function() {
        var id;
        if ('@Model.Status' == 'Disabled')
        {
            id = 0;
        }
        else if ('@Model.Status' == 'Able')
        {
            id = 1;
        }
        else
        {
            id = 1;
        }
            $('#Status').combobox('setValue', id);
    }
});

    //状态
    $('#Type').combobox({
       url: '/MaintenanceFiles/GetTypes',
        textField: 'text',
        valueField: 'id',
        panelHeight: 'auto',
        data: { },
        method: 'get',
        onLoadSuccess: function() {
        var id;
        if ('@Model.Type' == 'Disabled')
        {
            id = 0;
        }
        else if ('@Model.Type' == 'Able')
        {
            id = 1;
        }
        else
        {
            id = 1;
        }
            $('#Type').combobox('setValue', id);
    }
});



    //运维申请单
    $('#MaintenanceID').combobox({
     url: '/MaintenanceFiles/GetMaintenances',
        textField: 'text',
        valueField: 'id',
        panelHeight: 'auto',
        data: { },
        method: 'get',
        onLoadSuccess: function() {
            $('#MaintenanceID').combobox('setValue', '@Model.MaintenanceID');
    }
});





    </script>


    </body>


</html>

