@model GyIMS.Models.MaintenanceHandler



<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> 运维处理人信息 - 转移 </title>
    </head>

    <body>
    <div style= "margin:20px 0;" ></div>

    <div class="easyui-panel" title="运维处理人-转移" style="width:100%;height:100%">
    <div>
        <form id="Tran" method="post" style="width:100%;height:100%">
            <table style="width:100%;height:100%" cellpadding="10" cellspacing="50">
                <tr>
                    <th width="20%">
                        </th>
                        <th width="30%">
                    </th>
                    <th width="20%">
                        </th>
                        <th width="30%">
                    </th>
                </tr>
                <tr>
                    <td align="center"> 运维处理人编号:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="ID"
                               data-options="required:true" readonly="readonly" style="width:300px" />
                    </td>
                    <td align="center"> 运维单号:</td>
                    <td>
                        <select class="easyui-combobox" name="MaintenanceID" id="MaintenanceID" data-options="required:true" readonly="readonly" style="width:300px" />
                    </td>

                </tr>
                <tr>
                    <td align="center"> 前序处理人:</td>
                    <td>
                        <select class="easyui-combobox" name="FromHandler" id="FromHandler" data-options="required:true" style="width:300px" />
                    </td>
                    <td align="center"> 处理人:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="Handler"
                               style="width:300px" />                    
                    </td>
                </tr>
                <tr>
                    <td align="center"> 状态:</td>
                    <td>
                        <select class="easyui-combobox" name="Status" id="Status" data-options="required:true" style="width:300px" />
                    </td>

                </tr>
                <tr>
                    <td align="center"> 创建时间:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="CreateDate" data-options="required:true" readonly="readonly" style="width:300px" />
                    </td>
                    <td align="center"> 创建人:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="CreatePerson" style="width:300px" />
                    </td>
                </tr>

            </table>
        </form>
        <div style="text-align:center;padding:5px;margin-top:50px">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="UpdateForm()">转移</a>
            <a href="/MaintenanceHandlers/Index" class="easyui-linkbutton">返回</a>
        </div>
    </div>
    </div>

    @* Js脚本*@
    <script>

        //编辑初始化数据
        $('#Tran').form('load', {
          ID: '@Model.ID',
            MaintenanceID: '@Model.MaintenanceID',
            FromHandler: '@Model.FromHandler',
            Handler: '@Model.Handler',
            Status: '@Model.Status',
            CreateDate: '@Model.CreateDate',
            CreatePerson: '@Model.CreatePerson',

        });

        //状态
        $('#Status').combobox({
url: '/MaintenanceHandlers/GetStatus',
            textField: 'text',
            valueField: 'id',
            panelHeight: 'auto',
            data: { },
            method: 'get',
            onLoadSuccess: function() {
        var id;
        if ('@Model.Status' == 'Disabled')
        {
            id = 0;
        }
        else if ('@Model.Status' == 'Able')
        {
            id = 1;
        }
                $('#Status').combobox('setValue', id);
    }
});

        //运维申请单
    $('#MaintenanceID').combobox({
url: '/MaintenanceHandlers/GetMaintenances',
        textField: 'text',
        valueField: 'id',
        panelHeight: 'auto',
        data: { },
        method: 'get',
        onLoadSuccess: function() {
            $('#MaintenanceID').combobox('setValue', '@Model.MaintenanceID');
    }
});

    //处理人
    $('#FromHandler').combobox({
url: '/MaintenanceHandlers/GetHandlers',
        textField: 'text',
        valueField: 'id',
        panelHeight: 'auto',
        data: { },
        method: 'get',
        onLoadSuccess: function() {
            $('#FromHandler').combobox('setValue', '@Model.HandlerName');
    }
});





        //修改提交
        function UpdateForm()
{
            $('#Tran').form('submit', {
                url: '/MaintenanceHandlers/TranByForm/',
                dataType:"json",
                onSubmit: function(param) {
            param.ID = $('#ID').val();
            param.MaintenanceID = $('#MaintenanceID').val();
            param.FromHandler = $('#FromHandler').val();
            param.Handler = $('#Handler').val();
            param.Status = $('#Status').val();
            param.CreateDate = $('#CreateDate').val();
            param.CreatePerson = $('#CreatePerson').val();


        },
                success: function (data) {
                    data = JSON.parse(data);                   
                    alert(data.Message);
                    if (data.Code == 1) {
                        window.location.href = "@Url.Action("Index", "MaintenanceHandlers")";
                    }
                }
            });
        }





    </script>

    </body>
</html>





